/* Timer.css */

.timer {
    background: rgba(255, 255, 255, 0.137);
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  